
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    background: url('../img/background.png');
    background-size: cover;
    background-position: center center;
}

.buttons {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    list-style-type: none;
}

.buttons li {
    margin: 0 30px;
    margin-left: 50px;
}

.button {
    display: flex;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
}

#podrob{
    margin-top: 75px;
}

.button a {
    text-decoration: none;
    color: black;
}

#zagolovok{
    color: white;
    text-align: right;
    font-size: 60px;
    margin-top: 80px;
}

#zagolovok span{
    font-size: 100px;
}

#text {
    color: white;
    font-size: 18px;
    text-align: right;
    margin-top: 20px;
    width: 400px;
}

#vetka01 {
    position: absolute;
    bottom: 0;
    right: 25%;
}

#vetochka01 {
    position: absolute;
    bottom: 15%;
    height: 40%;
}

.new {
    position: relative;
    height: 100vh;
}

i{
   font-size: 50px;
   color: #9A1212;
   margin-bottom: 75px;
}

#products {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5000;
}

.new h1 {
    font-size: 96px;
    letter-spacing: 35px;
    margin-bottom: 20px;
    margin-top: 80px;
    margin-left: 120px;
}

.product {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    position: absolute;
    width: 116px;
    height: 220px;
    background: #C4C4C4;
    border-radius: 34px;
}

.photo {
    position: relative;
    background: url('../img/straw.png');
    background-size: cover;
    background-position: center center;
    width: 133px;
    height: 220px;
    border-radius: 45px;
    margin-left: 24px;
}

.spec1 {
    background: url('../img/tomat.png');
}

.spec2 {
    background: url('../img/hot.png');
}

.title {
    font-size: 30px;
    text-align: center;
}

.title a {
    text-decoration: none;
    color: #9A1212;
    z-index: 5;
}


.footer {
    position: absolute;
    align-self: end;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #F3F3F3;
    bottom: 0;
}

.footer-text {
    position: relative;
    font-size: 24px;
    margin-left: 20px;
    z-index: 2;
}

.vetka02 {
    position: absolute;
    right: 200px;
    bottom: 0;
    width: auto;
    height: 100vh;
    z-index: 0;
}

